main section object{
  position: relative;
  transform: translate(-50em,1em);
  width: 70em;
}
main section{
  /* dis */
}
/* #mapa{
  border: 1px solid green;
} */

.mapa{
 position: relative; 
 top: 50%;
 left: 50%;
 width: 2000px;
 /* transform: translate(-50%,-50%); */
}