svg{
  /* border: 1px solid green; */
  position: relative;
  /* transform: translate(-50%,-50%);
  left: 50%;
  top:50%; */
  width: 800px;
  height: 800px;
  /* filter: drop-shadow( 3px 3px 8px #670086); */
  background-color: white;
}
section{
  text-align: center;
}
section article{
  /* border: 3px solid #593B21; */
  padding: 1em;
  margin: 2.5em;
  /* border: 1px solid rgba(128, 128, 128, 0.137); */
  border: 1px solid rgb(41, 46, 51);
  border-radius: 0.5em;
  /* background-color: #241446; */
  box-shadow: 0px 4px 80px black;
}
aside #dot{
  height: 25px;
  width: 25px;
  background-color: yellow;
  border-radius: 50%;
  display: inline-block;
}
aside #msa{
  height: 50px;
  width: 25px;
  background-color: brown;
  display: inline-block;
}
aside #msaPc{
  height: 50px;
  width: 25px;
  background-color: yellow;
  display: inline-block;
}
aside #ocup{
  height: 25px;
  width: 25px;
  background-color: red;
  display: inline-block;
}